.toolBox {
    @apply p-5 absolute top-1/4 left-5 w-64 rounded-md;
    box-shadow: theme('colors.shadow1');
    border: 1px solid theme('colors.border1');
    background-color: theme('colors.background1');

    .section {
        @apply mb-5;

        .boxTitle {
            font-size: 11px;
            color: theme('colors.text1');

        }

        .colorSection {
            @apply flex justify-between mt-2;

            .colorBox {
                @apply h-5 w-5 mr-1 rounded-sm cursor-pointer;

                &:hover, &.active {
                    border: 1.5px solid theme('colors.border2');
                    box-shadow: theme('colors.shadow2');
                }
            }
        }
    }

    .shapeSection{
        @apply mb-1;

        .boxTitle {
            font-size: 11px;
            color: theme('colors.text1');

        }
        .menuContainer{
            @apply flex justify-between;

            .iconContainer{
                @apply cursor-pointer flex justify-center items-center h-8 w-8 rounded-md;
      
                &:hover, &.active {
                    background-color: theme('colors.text2');
                }
                .icon {
                    color: theme('colors.text1');
                    height: 1rem;
                    width: 1rem;
                }
            }
        }
    }

    @media screen and (max-width: 840px) {
        top: unset;
        bottom: 0;
        width: 100%;
        left: 0;
    }
}